*
{
    padding: 0;
    margin:0;
    scroll-behavior:smooth;
}
@font-face
{
    font-family: font-regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face
{
    font-family: font-bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}
.bg
{
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    overflow: hidden;

    width:100%;

}
.bg1
{
    background-color: rgba(100, 100, 100, 0.5);
    background-image: url(factory-free-img.jpg);
}
.bg2
{
    /* background-image:url(bg2.jpg); */
    background-color: #bdd9ec;
}
.title
{
    padding-bottom: 150px;
    color:aliceblue;
    font-family: font-bold;
    position:relative;
    top:340px;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    width:100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.logo:hover
{
    cursor: pointer;
}
.products
{
    font-size:50px;
    font-family: rockwell;
    text-align: center;
    width: 100%;
    font-weight: bold;
    background-color: aliceblue;
}
.prod-img
{
    width:200px;
    height:200px;
}
.card
{
    align-items: center;
}
.carousel-image
{
    width:800px;
    height:450px;
}


.cards
{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    position: relative;
    left:50%;
    top:25%;
    transform: translate(-50%,-50%);
}
.card-notbs
{
    width:200px;
    height:150px;
    font-size: x-large;
    background-color: aliceblue;
    border-radius: 1rem;
    text-align: center;
    color:black;
}
.card-notbs:hover
{
    color:aliceblue;
    background-color: rgb(74, 247, 166);
}
.positioned
{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.sub-ap{
    font-weight: 300;
}
@media(max-width:1025px)
{
    .title
    {

        padding-bottom: 150px;
        display: grid;
        justify-content: center;
    }
    .ap
    {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .carousel-image
    {
        width:60%;
        height:50%;
    }
}

@media(max-width:555px)
{
    .title
    {
        padding-top: 100px;
        padding-bottom: 200px;
        display: grid;
        justify-content: center;
    }
    .cards
    {
        padding-bottom: -100px;
        display: grid;
        justify-content: center;
    }

}
@media(max-width:900px)
{
    .cards
    {

        display: grid;
        justify-content: center;
        row-gap: 20px;
    }
    .card-notbs
    {
        width:150px;
        height:100px;
    }
}


@media(max-width:770px)
{
    .title
    {
        font-size: 75px;
    }
    .logo
    {
        width:75px;
        height:75px;
    }
    .products
    {
        font-size: 40px;
    }
}
@media(max-width:767px)
{
    .shell
    {
        display: none;
    }
    #phone
    {
        display: block;
    }
}
.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }

@media(min-width:768px)
{
    .shell
    {
        display: block;
    }
    #phone
    {
        display: none;
    }
    .card img {
        height: 11em;
    }
}
@media(max-width:450px)
{
    .title
    {
        font-size: 50px;
    }
    .products
    {
        font-size: 25px;
    }
}
/* @media(max-width:900px)
{
    .card
    {
        padding-top:300px;
    }
} */


@media(max-width:555px)
{
    .title
    {
        font-size: 60px;
    }
    .products
    {
        font-size: 30px;
    }
}
@media(max-width:520px)
{
    .title
    {
        font-size: 50px;
    }
    .carousel-image
    {
        width:350px;
        height:200px;
    }
}

/* contact */

.contact-bg
{
    height:500px;
    border-radius: 20px;
}
.contact-form
{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%;
}
@font-face {
    font-family: rockwell;
    src: url(../fonts/OpenSans-Regular.ttf);
}
.contact-head
{
    color: black;
    font-size: 30px;
    margin-left:15px;
}
::placeholder
{
    opacity: 1;
    font-weight: bolder;
    color: black;
}
.line
{
    border-top: 2px solid grey;
}
.widths
{
    width: 400px;
}

/* ------------------footer ----------------------*/

.footer
{
    width:100%;
    display: flex;
    justify-content: space-around;
    background-color: #2f333a;
}
.footer-content
{
    margin-top: 120px;
}
.footer-head
{
    font-size: 40px;
    color: aliceblue;
}
.footer-map
{
    margin-top: 50px;
    margin-bottom: 30px;
}
.footer-map iframe
{
    width: 600px;
    height:400px;
}
@media(max-width:1025px)
{
    .footer-map iframe
    {
        width: 500px;
        height:350px;
    }
}
@media(max-width:925px)
{
    .footer-map iframe
    {
        width: 400px;
        height:250px;
    }
}
@media(max-width:820px)
{
    .footer
    {
        display: grid;
        justify-content: center;
    }
    .footer-content
    {
        align-items: center;
        text-align: center;
        margin-top: 25px;
    }
    .footer-map iframe
    {
        width: 400px;
        height:350px;
    }
    .footer-map{
        margin-top: 10px;
        margin-bottom: 10ox;
    }
}
.footer-body-p
{
    font-weight: bold;
}

/* =========================
PRELOADER
=======================*/
#page-loader {
    background: #abd8e7;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 3050;
  }
  
  .loader-icon {
    background: none repeat scroll 0 0 #abd8e7;
    border-bottom: 3px solid rgba(19, 19, 19, 0.1) !important;
    border-left: 3px solid rgba(19, 19, 19, 0.1) !important;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    -ms-border-radius: 100px;
    border-right: 3px solid #1453F2 !important;
    border-top: 3px solid rgba(19, 19, 19, 0.1) !important;
    height: 50px;
    left: 50%;
    margin: -20px 0 0 -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
    transform: translate(-50%, -50%);
  }
  
  .colored-border {
    border-color: #abd8e7;
  }
  
  .fa-spin {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
  }
  
  @-webkit-keyframes fa-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }
  @keyframes fa-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(359deg);
    }
  }

/* Scroll to top */

  .scroll-to-top {
    position: fixed;
    content: "";
    right: 30px;
    bottom: 50px;
    z-index: 999;
    background: #21c87a;
    color: #fff !important;
    border-radius: 100%;
    opacity: 0;
  }
  .scroll-to-top i {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    display: block;
    box-shadow: 0 7px 22px rgba(0, 0, 0, 0.08);
  }
  
  .scroll-to-top:hover,
  .scroll-to-top:focus {
    text-decoration: none;
  }
  
  .reveal {
    transition: all 0.3s;
    cursor: pointer;
    opacity: 1;
  }
  
  
.rounded-social-buttons {
    text-align: center;
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
  }
  
  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-tiktok, .fa-youtube, .fa-instagram {
    font-size: 25px;
  }
  
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }
  
  .rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }
  
  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }
  
  .rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }
  
  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }
  
  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }
  
  .rounded-social-buttons .social-button.whatsapp {
    background: #000000;
  }
  
  .rounded-social-buttons .social-button.whatsapp:hover, .rounded-social-buttons .social-button.whatsapp:focus {
    color: #19c713;
    background: #fefefe;
    border-color: #19c713;
  }
  
  .rounded-social-buttons .social-button.youtube {
    background: #bb0000;
  }
  
  .rounded-social-buttons .social-button.youtube:hover, .rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
  }
  
  .rounded-social-buttons .social-button.instagram {
    background: #125688;
  }
  
  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
  }