*
{
    margin:0;
}
@font-face
{
    font-family: font-regular;
    src: url(Montserrat-Regular.ttf);
}
@font-face
{
    font-family: font-bold;
    src: url(Montserrat-Bold.ttf);
}
.bg
{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;
    width:100%;
    display:table;
}

.item_collapse
{
    text-align: right;
    padding-bottom: 4px;
}
.bg1
{
    background-color: rgba(100, 100, 100, 0.5);
    background-blend-mode: multiply;
    background-image: url(factory-free-img.jpg);
}
.title
{
    position:relative;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:aliceblue;
    font-size: 100px;
    font-family: font-bold;
}
.logo
{
    position:absolute;
    top:0px;left:10px;
}
.logo:hover
{
    cursor: pointer;
}
.logo div
{
    font-weight: normal;
    font-family:font-regular;
    font-size:20px;
}
.navbar
{
    font-family: font-regular;
    color:aliceblue;
    position:absolute;
    top:25px;right:7vw;
    font-size: large;
}
.navbar img
{
    display: none;
    color: aliceblue;
}
#navbar-list
{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
.navbar-list-menu
{
    display:none;
    gap:7px;
}
.navbar-list-menu-clicked
{
    display:grid;
    gap:7px;
}
button
{
    border-radius: 20px;
    border-style: solid;
    border-color:rgba(243,41,41,0.863);
    color:aliceblue;
    font-family: font-bold;
    font-size: large;
    background-color: rgba(243, 41, 41, 0.863);
    transition:background-color 1s;
}
li:hover
{
    color:rgba(240, 248, 255, 0.685);
    cursor:pointer;
}
button:hover
{
    background-color: rgba(243, 41, 41, 0.575);
}
.aboutUs
{
    height:600px;
    background-color: aliceblue;
    text-align: center;
}
.aboutUsDiv
{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.aboutUsDiv div
{
    font-family: font-bold;
    font-size:large;
}
.aboutUsDiv p
{
    font-size:xx-large;
    font-family: font-bold;
}
.aboutUsDiv span
{
    font-size:large;
    font-family:font-regular;
}
@media(max-width:555px)
{
    .title
    {
        font-size: 45px;
    }
    .aboutUs
    {
        height:850px;
    }
}
@media(max-width:520px)
{
    .aboutUs
    {
        height:800px;
    }
}